﻿@model CalculatorApplication.Models.calc
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Calculator Application</title> 
</head>
<body>
    <h2>Calculator Application</h2>
    <div class="row">
        @using (Html.BeginForm())
        {
        
            <div class="form-group">
                <label for="number_first">Input First Number</label>
                <input type="text" class="form-control" id="number_first" name="number_first" value="@Model.number_first" />
            </div>

            <div class="form-group">
                <label for="number_second">Input Second Number</label>
                <input type="text" class="form-control" id="number_second" name="number_second" value="@Model.number_second" />
            </div>

            <div class="form-group">
                <label for="result">Final Result</label>
                <input type="text" class="form-control" id="result" name="result" value="@Model.result" />
            </div>

            <button type="submit" class="btn btn-info" id="add" value="add" name="calculate">ADDITION +</button>
            <button type="submit" class="btn btn-info" id="sub" value="sub" name="calculate">SUBTRACTION -</button>
            <button type="submit" class="btn btn-info" id="mul" value="mul" name="calculate">MULTIPLICATION x</button>
            <button type="submit" class="btn btn-info" id="div" value="div" name="calculate">DIVISION /</button>
            <button type="submit" class="btn btn-info" id="mod" value="mod" name="calculate">MODULUS %</button>

        }

    </div>
</body>
</html>